<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>登录</title>
	<#include "/common/include.html">
</head>
<body>
	
	  <!-- 头部引用 -->
	  <#include "/common/header.html">
	  <@headerPage currentPage=""/>
      <!-- 内容开始-->
         <div class="login_wrap">
               <div class="login_tit"><h3>用户登录</h3></div>
				<div class="mh_bn">
	                <input type="hidden" name="back_url" value="${back_url!}"/>
	                <div>
	                	<input type="text" name="email" placeholder="请输入用户名" />
	                </div>
	                <div>
	                	<input type="password" name="password" placeholder="请输入密码"/>
	                </div>
	                <div class="succ_bn btn_lg"><a href="#">登录</a></div>
	                <p class="forget_password"><a href="/p/to_forget_passwd_step1">忘记密码？</a></p>
	            </div>
          </div>
      <!-- 内容结束-->
      <#include "/common/footer.html">
</body>
</html>