<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>注册</title>
	<#include "/common/include.html">
</head>
<body>
	  <!-- 头部引用 -->
	  <#include "/common/header.html">
	  <@headerPage currentPage=""/>
      <!-- 内容开始-->
        	<div class="login_wrap">
               <div class="login_tit"><h3>用户注册</h3></div>
			
				<div class="mh_bn mh_bn_register">
	              <div class="contact" >
                     <form name="form1" method="post">
	            <ul>
	              <li>
				      <input type="text" name="youremail" placeholder="请输入邮箱" onblur="checkmail()" required />
				      <span class="tips" id="divmail"></span>
				  </li>
	            </ul>
	                 </form>

	                 <div class="succ_bn btn_lg"><a>注册</a></div>
	              </div>
                </div>
		   </div>
      <!-- 内容结束-->
      <#include "/common/footer.html">
	<script type="text/javascript" src="/js/index/register.js?v=20160105"></script>

</body>
</html>